 

* {
  box-sizing: border-box;
}

ul, li {
list-style: none;
}

.list {
  display: flex;

}

.header {
  width:1172px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menuTitle {
  font-family: "Montserrat", sans-serif;
}

.MB2 {
  width: 250px;
}

.headerNavButton {
  font-family: "Montserrat", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: black;

}
.menuButons {
display: flex;
justify-content: space-between;
gap: 82px;
align-items: center;
}

.buttons {
  display: flex;
}

.tema {
  margin-right: 51px;
}

.headerNavButton:last-child {
  margin-left: 50px;
}
.con {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.inp {
  height: 0;
}
.topLine {
  border: 1px solid #000000;
  width: 536;
}

.bottomLine {
  border: 1px solid #000000;
  width: 536px;
margin: auto;
}

.searchInput {
  background-color: #d7d7d7;
  border-radius: 20px;
  border: none;
  outline: none;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
  max-width: 185px;
  flex: 1;

  z-index: 0;
  display: block;
}
.search-button {
  border: none;
  width: 20px;
  height: 20px;
  position: relative;
  left: 147px;
  bottom: 18.5px;
  background-color: black;
  position: relative;
  left: 147px;
  bottom: 18.5px;
  width: 37px;
  padding: 7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
  background-color: black;
  transform: translateY(-50%);
  z-index: 1;
  height: 36px;
}

.inputIcon {
  position: relative;
  left: 147px;
  bottom: 18.5px;
  width: 37px;
  padding: 7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
  background-color: black;
  transform: translateY(-50%);
  z-index: 1;
}

.sacondSectionContent {
  width: 576px;
  margin: auto;
}

.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: #039900;
}

.sacontInput {
  width: 215px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #d7d7d7;
  background-image: url("./Group\ 104.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;

  padding-right: 10px;
}

.sacontInput::placeholder {
  padding-left: 7px;
  color: #7e7e7e;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.serch {
  background-color: black;
}

.thirdSection {
  text-align: center;
}

.con2 {
  display: flex;
  width: 453px;
  position: relative;
  left: 100px;
}

.miniGameImages {
  display: flex;
  width: 256px;
  justify-content: space-between;
}
.chouse {
  width: 60px;
}

.sch {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.acd {
  margin-left: 104px;
  width: 93px;
}

.youWin {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #039900;
  margin-bottom: 36px;
}

.computerChouse {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #000000;
  color: #ddd;
}

.bottomLine {
  margin-top: 36px;
}


.con3 {
  display: flex;
  justify-content: space-between;
  width: 462px;
}

.time {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.content {
  width: max-content;
  margin: auto;

}

.filed {
  margin-top: 36px;
  width: 720px;
  height: 220px;
  background-color: #5abb58;
  border: 2px solid black;
  border-radius: 37px;
  position: relative;
}

.ballIcon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 1s all;
}

.main {
  max-width: 1090px;
  margin: auto;
  background-color: white;
}



/* скрываем все инпуты, чтобы все выглядело красиво */
input {
  display: none;
}

/* стилизуем стандартный текст лейбела(желательно смотреть этот стиль после .items) */
#text {
  position: absolute;
  display: block;
  top: 0;
  padding-left: 10px;
}

/* Задаем параметры нашего селекта - ширину, высоту и line-height(для центрирования текста по вертикали;этот парметр меньше ширины на 4px, т.к. в нашем блоке есть border размером в 2px со всех сторон) */
.select {
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;
}

/* Это наша стрелочка, показывающая, что селект можно раскрыть */
.select:before {
    content: ">";
    display: inline-block;
    background: white;
    position: absolute;
    right: -3px;
    top: 2px;
    z-index: 2;
    width: 29px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 2px solid #ddd;
    transform: rotate(90deg);
    cursor: pointer;
}

/* Если ничего не выбрано, то наш изначальный текст черного цвета, как и должно быть */
.select input[name=list]:not(:checked) ~ #text {
  color: black;
  background: white;
}

/* Если же что-то выбрано, то наш текст становится невидимым и встает сверху выбранного параметра, чтобы при клике на него можно было заного открыть селект, что не было реализовано прошлым автором */
.select input[name=list]:checked ~ #text {
  background: transparent;
  color: transparent;
  z-index: 2;
}

/* Стилизация выключенного селекта */
#select:disabled ~ .items #text {
  background: #eee;
}

/* Стилизация блока с опциями. min-height сделана для фикса высоты при абсолютном позиционировании, overflow же сделан для фиксированной высоты(см. ниже) */
.items {
  display: block ;
  min-height: 34px;
  position: absolute;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}

/* Если наш селект закрыт, то он имеет высоту 30px(сделано для того, чтобы слишком большие надписи не растягивали его в высоту)  */
#select:not(:checked) ~ .items {
  height: 34px;
}

/* Все лейбелы(названия опций) изначально скрыты */
.items label {
  border-top: 2px solid #ddd;
  display: none;
  padding-left: 10px;
  background: white;
}

/* Тут много объяснять не надо - просто выделение при наведении */
.items label:hover {
  background: #eee;
  cursor: pointer;
}

/* Опять же фикс из-за абсолютного позиционирования */
#select:checked ~ .items {
  padding-top: 30px;
  background: white;
}

/* Если наш селект открыт, то надо сделать все опции видимыми */
#select:checked ~ .items label {
  display: block;
}

/* Если какая-либо опция была выбрана, то сделать ее видимой(при выборе селект автоматически закроется) */
.items input:checked + label {
  display: block !important;
  border: none;
  background: white;
}

/* При открытии селекта создать подложку во весь экран, при клике на которую селект закроется, а значение останется пустым. background сделан для наглядности */
#select:checked ~ .bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=main.css.map */


